@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body{
        background-image:url('https://cdn.pixabay.com/photo/2015/10/22/17/32/smoke-1001664__340.png');
        background-repeat: no-repeat;
        background-size: cover;
        
        
        
}

.heading{
    color:black;
    font-family: 'Dancing Script', cursive;

}
