{% extends 'base.html' %}
{% block content %}
<h1 class="heading text-center">Welcome
    to My Gallery
<div class="row row-cols-3 rows-cols-md-3 g-4">
{% for images in images %}
<img src="{{images.image.url}}" class="img-responsive" alt="Image" height="300vh" width="50%" data-bs-toggle="modal"
    data-bs-target="#exampleModal{{images.id}}">
<!-- Modal -->
<div class="modal fade" id="exampleModal{{images.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{images.name}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <p>{{images.description}}</p>
            <p>{{images.category}}</p>
            <p>{{images.location}}</p>
            </div>
            <img src="{{images.image.url}}" class="img-responsive" alt="Image" height="300vh" width="50%"
                data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="modal-footer">
                <input type="text" id="image_link" value="{{images.image.url}}"
                    class="btn btn-outline-success form-control">
                <button onclick="myFunction()">Copy Link</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
</div>
{% endblock %}